<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Dev2Work | Workshop List</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
			body {
				background-color: #7159c1;
				font-family: 'Roboto', sans-serif;

			}
			#tituloFixo {
				color: #FFF;
				text-align: center;
				font-weight: bold;
				font-size: 22pt;
				margin-top: 10px;
			}
			i {color: #FFF;}
			.msg {color: #71519c; font-weight: bold;}		
		</style>
	</head>
	<body>
		<h2 id="tituloFixo">
			Dev2Work - Participe da Week Of Development <br>
			<i class="small material-icons">important_devices</i>
		</h2>
		<div class="card white">
			<div class="card-content">
				<span class="card-title">| Workshop List</span>
				<p class="msg">Escolha um workshop para participar</p><br><br>
				<!-- aqui entra repetição twig para montar os cards a medida em que existam workshops -->
				<div class="row">
    				<div class="col s12 m8">
      					<div class="card">
        					<div class="card-content dark-text">
        						<!-- Titulo dinamico twig -->
          						<span class="card-title" style="color: #7159c1; font-weight: bold;">{{workshopName}}</span>
          						<p>
          							<!-- Texto dinamico twig -->
          							Um workshop existe para um objetivo. Aqui entra a descrição
          							do workshop.
          						</p>
        					</div>
        					<div class="card-action">
				          		<a href="?page=cadastro" style="color: #26A69A">Garanta sua vaga</a>
        					</div>
      					</div>
    				</div>
  				</div>
			</div>
		</div>
		<!-- JS Materialize -->	
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>       
	</body>
</html>